manifest {
    // Read more at https://www.nextflow.io/docs/latest/config.html#config-manifest
    author = 'Moritz E. Beber'
    description = ''
    homePage = ''
    name = 'mnx'
    nextflowVersion = '!20.01+'
    version = '0.1.0'
}

profiles {
  conda {
    // Read more at https://www.nextflow.io/docs/latest/conda.html
    process.conda = 'environment.yml'
  }
  docker {
    // Read more at https://www.nextflow.io/docs/latest/docker.html
    process.container = ''
    docker.enabled = true
  }
}
